// Declaring variables
$blue: #0d6efd;
$dark-blue: #0b5ed7;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$dark-red: #bb2d3b;
$orange: #fd7e14;
$yellow: #ffc107;
$light-yellow: #ffca2c;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$dark: #292a2b;